@font-face {
  font-family: 'lifehack';
  src: url("../../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: Ubuntu, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: optional;
  line-height: 1.42em; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.section {
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.header {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__container {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__container .nav {
    margin-left: auto; }

.wrap-logo__link {
  display: block; }

.logo {
  width: 92px;
  height: 74px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.nav__elem:after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px; }

.nav__elem:last-child:after {
  display: none; }

.nav__link {
  font-weight: 500;
  font-size: 13px;
  color: #ffffff; }

.order-btns {
  margin-left: 20px; }

.order-btns__link {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  padding: 0 18px;
  background-color: #e45028;
  text-align: center;
  line-height: 37px;
  border-radius: 5px; }

.title {
  background-image: url("../img/section-title/section-bgr.jpg");
  position: relative;
  top: 0; }

.title__content {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title__text {
  margin-top: 90px;
  margin-left: 20px; }

.title__text-top {
  font-family: gagalin;
  font-size: 72px;
  color: #f9b43b;
  line-height: 1; }

.title__text-bottom {
  margin-bottom: 20px;
  line-height: 1;
  font-family: lifehack;
  font-size: 65px;
  color: #ffffff;
  font-weight: 500;
  width: 440px; }

.arrow-scroll {
  position: absolute;
  top: 600px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.arrow-scroll__link {
  display: block;
  padding: 10px; }
