@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: Ubuntu, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: optional;
  line-height: 1.42em; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%;
  width: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0; }

.wrapper {
  overflow: hidden; }

.section {
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 200; }

.header__container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__container .nav {
    margin-left: auto; }

.wrap-logo__link {
  display: block;
  margin-top: 12px; }

.logo {
  width: 92px;
  height: 74px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.nav__elem:after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 15px; }

.nav__elem:last-child:after {
  display: none; }

.nav__link {
  font-weight: 500;
  font-size: 13px;
  color: #ffffff; }

.order-btns {
  margin-left: 16px; }

.order-btns__link {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  padding: 0 13px;
  background-color: #e45028;
  text-align: center;
  line-height: 36px;
  border-radius: 5px; }

.first {
  background-image: url("../img/section-first/section-bgr.jpg");
  position: relative;
  top: 0; }

.first__content {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.first__text {
  margin-top: 84px;
  margin-left: 13px; }

.first__text-top {
  font-family: gagalin;
  font-size: 72px;
  color: #f9b43b;
  line-height: 1; }

.first__text-bottom {
  margin-top: 20px;
  line-height: 1;
  font-family: lifehack;
  font-size: 65px;
  color: #ffffff;
  font-weight: 500;
  width: 440px;
  letter-spacing: 1px;
  letter-spacing: -2px; }

.arrow-scroll {
  position: absolute;
  bottom: 36px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.arrow-scroll__link {
  display: block;
  padding: 10px; }

.best {
  background-image: url("../img/section-best/best-bgr.jpg");
  position: relative;
  top: 0; }

.best__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 960px; }

.title {
  font-family: 'gagalin';
  font-size: 72.06px;
  color: #2f3234;
  margin: 0; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 960px;
  margin-top: 70px; }

.best__elem {
  width: 33.33%; }

.best__title {
  font-family: lifehack;
  font-size: 24.12px;
  color: #2f3234;
  margin: 30px 0 20px 0;
  width: 300px; }

.best__text {
  font-weight: 300;
  font-size: 14px;
  color: #2f3234;
  padding: 0 14px; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.reviews__elem {
  position: relative;
  width: 25%;
  height: 50%;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .reviews__elem:hover .reviews__content {
    visibility: visible; }
  .reviews__elem:hover .reviews__block-dark {
    opacity: 1; }

.reviews__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 243px;
  z-index: 200;
  visibility: hidden; }

.reviews__name {
  font-family: 'gagalin';
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 30px; }

.reviews__text {
  font-weight: 300;
  font-size: 14px;
  color: #fff; }

.reviews__link {
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 37px;
  background: #2f3234;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px; }

.reviews__block-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.navigate {
  position: fixed;
  top: 92px;
  left: 94%; }

.navigate__elem {
  position: relative;
  margin-bottom: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-radius: 50%; }
  .navigate__elem_aktiv {
    border: 1px solid #ffff; }

.navigate__link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  padding: 7px; }
  .navigate__link:hover .navigate__wrap {
    background-color: #f8b03b; }

.navigate__wrap {
  width: 6px;
  height: 6px;
  background-color: #ffff;
  border-radius: 50%; }

.team {
  background-image: url("../img/section-team/team-bgr.jpg");
  background-position: top center;
  position: relative; }

.team__block {
  background-color: rgba(47, 50, 52, 0.93);
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%; }

.team__content {
  margin: 100px 0 0 95px; }

.title_color {
  color: #f9b43b;
  line-height: 1; }

.team__list {
  margin-top: 40px; }

.team__elem {
  margin-bottom: 14px; }
  .team__elem_activ .team__name {
    color: #f9b43b; }
  .team__elem_activ .team__icon {
    background-image: url("../img/section-team/arrow-up.png"); }
  .team__elem_activ .description {
    height: 100%; }

.team__icon {
  background-image: url("../img/section-team/arrow-down.png");
  background-repeat: no-repeat;
  width: 9px;
  height: 7px;
  display: inline-block; }

.team__name {
  font-family: 'gagalin';
  font-size: 14px;
  color: #ffff;
  cursor: pointer;
  margin-left: 10px; }

.description {
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }

.description__foto {
  background-image: url("../img/section-team/team-foto.jpg");
  background-position: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 22px; }

.description__text {
  width: 215px;
  font-size: 14px;
  color: #ffff;
  margin-left: 20px;
  margin-top: -10px; }
  .description__text p {
    margin-top: 0; }

.menu {
  position: relative;
  background-image: url("../img/section-menu/menu-bgr.jpg"); }

.title_menu {
  color: #ffff;
  position: absolute;
  top: 100px;
  line-height: 1;
  left: 42px; }

.menu__accordion {
  position: absolute;
  width: 780px;
  height: 100%;
  right: 17px; }

.menu__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__elem_activ .menu__info {
    width: 540px; }

.menu__link {
  display: block;
  width: 80px;
  height: 100%;
  background-position: 80% 0;
  position: relative; }

.menu__elem-wrap {
  background-color: rgba(20, 20, 20, 0.7);
  width: 100%;
  height: 100%; }

.menu__text {
  font-family: 'gagalin';
  font-size: 40px;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  position: absolute;
  top: 41%;
  left: -353%;
  text-align: left;
  width: 650px; }

.menu__info {
  overflow: hidden;
  width: 0;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.93);
  position: relative; }

.menu__info-text {
  position: absolute;
  top: 60px;
  left: 35px;
  right: 30px; }
  .menu__info-text p {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    line-height: 1.714; }

.maps {
  background-image: url("../img/maps.jpg");
  position: relative; }

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0f0f0f; }

.footer__container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contact {
  width: 50%;
  text-align: left;
  padding: 10px 0; }

.contact__adres {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff; }

.icon__phone {
  display: inline-block;
  fill: #e45028;
  width: 10px;
  height: 10px; }

.contact__tel {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  color: #e45028; }

.social {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sosial__link {
  padding: 10px 0 10px 20px; }

.icon {
  width: 20px;
  height: 20px;
  fill: #fff; }
  .icon use {
    width: 20px;
    height: 20px; }

.order {
  background-image: url("../img/section-order/order-bgr.jpg");
  position: relative; }

.order__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.title_order {
  margin-bottom: 55px;
  color: #f9b43b;
  text-align: center; }

.form__content {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__content-left, .form__content-right {
  width: 50%; }

.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }

.form__contact-lable {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .form__contact-lable:last-child {
    margin-right: 0; }

.form__title {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px; }

.form__contact-input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none; }

.form__content-right {
  margin-left: 20px; }

.form__comment-textarea {
  width: 100%;
  height: 108px;
  resize: none;
  border-radius: 5px; }

.form__pay {
  margin-top: 8px; }

.form__radio-label {
  margin-right: 13px; }

.form__radio-input {
  vertical-align: middle; }

.radio__title {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
  margin-left: 10px; }

.form__call {
  margin-top: 20px; }

.form__call-input {
  vertical-align: middle; }

.call__title {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
  margin-left: 8px; }

.form__btns {
  margin-top: 13px; }

.form__btns-submit {
  padding: 13px 16px;
  border-radius: 5px;
  background-color: #e45028;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border: none;
  text-transform: uppercase;
  cursor: pointer; }
  .form__btns-submit:focus {
    outline: none; }

.form__btns-reset {
  padding: 13px 18px;
  border-radius: 5px;
  background: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border: none;
  cursor: pointer; }
  .form__btns-reset:focus {
    outline: none; }
