@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: Ubuntu, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: optional;
  line-height: 1.42em; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%;
  width: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0; }

.section {
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.header {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__container {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__container .nav {
    margin-left: auto; }

.wrap-logo__link {
  display: block; }

.logo {
  width: 92px;
  height: 74px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.nav__elem:after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px; }

.nav__elem:last-child:after {
  display: none; }

.nav__link {
  font-weight: 500;
  font-size: 13px;
  color: #ffffff; }

.order-btns {
  margin-left: 20px; }

.order-btns__link {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  padding: 0 18px;
  background-color: #e45028;
  text-align: center;
  line-height: 37px;
  border-radius: 5px; }

.first {
  background-image: url("../img/section-first/section-bgr.jpg");
  position: relative;
  top: 0; }

.first__content {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.first__text {
  margin-top: 90px;
  margin-left: 20px; }

.first__text-top {
  font-family: gagalin;
  font-size: 72px;
  color: #f9b43b;
  line-height: 1; }

.first__text-bottom {
  margin-bottom: 20px;
  line-height: 1;
  font-family: lifehack;
  font-size: 65px;
  color: #ffffff;
  font-weight: 500;
  width: 440px; }

.arrow-scroll {
  position: absolute;
  top: 600px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.arrow-scroll__link {
  display: block;
  padding: 10px; }

.best {
  background-image: url("../img/section-best/best-bgr.jpg");
  position: relative;
  top: 0; }

.best__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 960px; }

.title {
  font-family: 'gagalin';
  font-size: 72.06px;
  color: #2f3234; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 960px;
  padding: 0 20px; }

.best__elem {
  width: 33.33%; }

.best__title {
  font-family: lifehack;
  font-size: 24.12px;
  color: #2f3234; }

.best__text {
  font-weight: 300;
  font-size: 14px;
  color: #2f3234; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.reviews__elem {
  position: relative;
  width: 25%;
  height: 325px;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .reviews__elem:hover .reviews__content {
    opacity: 1; }
  .reviews__elem:hover .reviews__block-dark {
    opacity: 1; }

.reviews__img {
  width: 100%;
  height: 100%; }

.reviews__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 243px;
  z-index: 200;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.reviews__name {
  font-family: 'gagalin';
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 30px; }

.reviews__text {
  font-weight: 300;
  font-size: 14px;
  color: #fff; }

.reviews__link {
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 37px;
  background: #2f3234;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px; }

.reviews__block-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.navigate {
  position: fixed;
  top: 170px;
  left: 95%; }

.navigate__elem {
  position: relative;
  margin-bottom: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-radius: 50%; }
  .navigate__elem_aktiv {
    border: 1px solid #ffff; }

.navigate__link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 6px;
  height: 6px;
  background-color: #ffff;
  border-radius: 50%; }
