

@font-face {
    font-family: 'lifehack';
    src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2'),
         url('../fonts/lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gagalin';
    src: url('../fonts/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Ubuntu, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-display: optional;
    line-height: 1.42em;
}

*{
    box-sizing: border-box
}

body, html{
    height: 100%;
    width: 100%;
}

li{
    list-style: none
}

a{
    text-decoration: none
}

ul,li{
    margin: 0;
    padding: 0;
}

.section{
    width: 100vw;
    height: 100vh;
    min-height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}