
.best{
    background-image: url("../img/section-best/best-bgr.jpg");
    position: relative;
    top:0;
}

.best__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 960px;
}

.title{
    font-family: 'gagalin';
    font-size: 72.06px;
    color: #2f3234;
    margin: 0;
}

.best__list{
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin-top: 70px;
}

.best__elem{
    width: 33.33%
}

.best__title{
    font-family: lifehack;
    font-size: 24.12px;
    color: #2f3234;
    margin: 30px 0 20px 0;
    width: 300px;
}

.best__text{
    font-weight: 300;
    font-size: 14px;
    color: #2f3234;
    padding: 0 14px;
}