
.burgers{
    position: relative;
    background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -ms-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
}

.burgers__content{
    width: 100%;
    max-width: rem(960px);
    margin: 0 auto;
    padding: 0 rem(20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    @include tablets {
        flex-direction: column; 
    }
}

.burgers__img{
    width: 50%;
    height: 50%;
    max-width: rem(505px);
    max-height: rem(329px);
    min-width: rem(320px);
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        max-width: rem(505px);
        max-height: rem(329px);
        min-width: rem(320px);
    }
}

.burgers__text{
    margin-left: rem(20px);
    width: 50%;
    height: 50%;

    @include tablets{
        margin-left: 0;
        width: 74%;
        text-align: center;
    }
}

.title__burgers{
    line-height: 1;
    color: #fff;
}

.burgers__wrap{
    margin-top: rem(55px);

    @include tablets{
        margin-top: rem(30px)
    }
}

.burgers__description{
    p{
        margin: 0;
        font-size: rem(14px);
        color: #fff; 
    }
}

.burgers__price{
    margin-top: rem(40px);
}

.burgers__price-cash{
    font-family: 'gagalin';
    font-size: rem(30px);
    color: #e35028;

    b{
        font-size: rem(72px);
    }
}

.order-btns__link{
    margin-left: rem(30px);
}

.wrap-composition{
    position: absolute;
    top: 14%;
    left: 5%;
    display: flex;
    
}

.burgers__composition{
    position: relative;
    width: rem(90px);
    height: rem(90px);
    background-color: #f08c33;
    border-radius: rem(5px);
    cursor: pointer;
    // top: 14%;
    // left: 5%;

    &:hover + .composition-menu{
        opacity: 1;
    }
}

.composition__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.composition__content-icon{
    text-align: center;
}

.icon__burger{
    width: rem(45px);
    height: rem(45px);
    fill: #fff;
}

.composition__content-text{
    font-family: 'gagalin';
    font-size: rem(14px);
    color: #fff;
}

.composition-menu{
    // position: absolute;
    padding: rem(20px) rem(20px) rem(20px) rem(20px);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: rem(5px);
    opacity: 0;
    transition: 0.3s;

}

.composition-menu__row{
    height: rem(18px);
}

.composition-menu__column-icon{
    width: rem(70px);
}

.composition-menu__column-text{
    width: rem(120px);
}

.block__calories{
    position: absolute;
    bottom: 14%;
    left: 5%;
    text-align: center;

    @include tablets{
        bottom: 74%;
        left: 83%;
    }
}

.calories__icon{
    position: relative;
}

.calories__icon-kkal{
    width: rem(60px);
    height: rem(60px);
    fill: #fff;
    position: relative;
}

.calories__icon-number{
    position: absolute;
    top:58%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-family: 'gagalin';
    font-size: rem(20px);
    color: #fff;
}

.calories__text{
    font-family: 'gagalin';
    font-size: rem(14px);
    color: #fff;
}

.arrow-scroll_left{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%);
    transform: rotate(90deg);
    transform-origin: center;
}

.arrow-scroll_right{
    position: absolute;
    top: 50%;
    right: rem(15px);
    transform: translate(-50%);
    transform: rotate(-90deg);
    transform-origin: center;
}