
.first{
    background-image: url("../img/section-first/section-bgr.jpg");
    position: relative;
    top: 0;
}

.first__content{
    width: 100%;
    max-width: rem(960px);
    margin: 0 auto;
    padding: 0 rem(20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    @include tablets{
        flex-direction: column;
        justify-content: center;
    }
}

.first__img{
    width: 50%;
    height: 50%;
    max-width: rem(451px);
    max-height: rem(424px);
    min-width: rem(417px);
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        max-width: rem(451px);
        max-height: rem(424px);
        min-width: rem(417px);
    }
}

.first__text{
    margin-top: rem(84px);
    margin-left: rem(13px);
    width: 100%;

    @include tablets{
        margin-top: rem(40px);
        margin-left: 0;
        text-align: center;
    }

    @include phones {
        margin-top: rem(20px);
        margin-left: 0;
        text-align: center;
    }
}

.first__text-top{
    font-family: gagalin;
    font-size: rem(72px);
    color: #f9b43b;
    line-height: 1;
}

.first__text-bottom{
    display: inline-block;
    margin-top: rem(20px);
    line-height: 1;
    font-family: lifehack;
    font-size: rem(65px);
    color: #ffffff;
    font-weight: 500;
    width: rem(440px);
    letter-spacing: rem(1px);
    letter-spacing: rem(-2px);
}

.arrow-scroll{
    position: absolute;
    bottom: rem(36px);
    left: 50%;
    transform: translateX(-50%);
}

.arrow-scroll__link{
    display: block;
    padding: rem(10px);
}

.nav-mobile{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 50, 52, 0.99);
    z-index: 1000;
    top: -1000%;
    transition: 0.5s;

    &_activ{
        top: 0;
    }
}

.nav-mobile__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.nav-mobile__elem{
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after{
        content: "";
        display: block;
        width: rem(5px);
        height: rem(5px);
        background-color: #ffffff;
        border-radius: 50%;
        margin-top: rem(30px);   
    }

    &:last-child:after{
        display: none;
    }
}

.nav-mobile__link{
    font-weight: 500;
    font-size: rem(24px);
    color: #ffffff;
}

.nav-mobile__logo-wrap{
    position: absolute;
    top: rem(13px);
    left: rem(11px);
}

.nav-mobile__logo-link{
    display: inline-block;
}

.close__link{
    position: absolute;
    top: rem(32px);
    right: rem(35px);
    display: block;
    color: #ffffff;
    opacity: 0.7;
    font-size: rem(24px);
    padding: rem(5px);
}