


.first{
    background-image: url("../img/section-first/section-bgr.jpg");
    position: relative;
    top: 0;
}

.first__content{
    width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.first__text{
    margin-top: 84px;
    margin-left: 13px;
}

.first__text-top{
    font-family: gagalin;
    font-size: 72px;
    color: #f9b43b;
    line-height: 1;
}

.first__text-bottom{
    margin-top: 20px;
    line-height: 1;
    font-family: lifehack;
    font-size: 65px;
    color: #ffffff;
    font-weight: 500;
    width: 440px;
    letter-spacing: 1px;
    letter-spacing: -2px;
}

.arrow-scroll{
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-scroll__link{
    display: block;
    padding: 10px;
}