
.header{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 200;
}

.header__container{
    width: 100%;
    max-width: rem(960px);
    margin: 0 auto;
    padding: 0 rem(10px);
    display: flex;
    align-items: center;
    
    & .nav{
        margin-left: auto;
    }
}

.wrap-logo__link{
    display: block;
    margin-top: rem(12px);
}

.logo{
    width: rem(92px);
    height: rem(74px);
}

.nav__list{
    display: flex;
    justify-content: space-between;

    @include tablets {
        display: none;
    }
}

.nav__elem{ 

   &:after{
        content: "";
        display: inline-block;
        width: rem(5px);
        height: rem(5px);
        background: #ffffff;
        border-radius: 50%;
        vertical-align: middle;
        margin-left: rem(15px);
        margin-right: rem(15px);
    }
    
    &:last-child:after{
        display: none;
    }
}

.nav__link{
    font-weight: 500;
    font-size: rem(13px);
    color: #ffffff;
}

.order-btns{
    margin-left: rem(16px);
}

.order-btns__link{
    display: block;
    font-weight: 500;
    font-size: rem(13px);
    color: #ffffff;
    padding: 0 rem(13px);
    background-color: #e45028;
    text-align: center;
    line-height: rem(36px);
    border-radius: rem(5px);
}

.hmbrg-menu__link{
    display: none;
    margin-left: 30px;

    @include tablets{
        display: block;
    }
}

.hmbrg-menu__link-block{
    background-color: #ffffff;
    width: rem(24px);
    height: rem(5px);
    border-radius: rem(5px);
    margin-bottom: 5px;

    &:last-child{
        margin-bottom: 0;
    }
}