
.maps{
    background-image: url('../img/maps.jpg');
    position: relative;
}

.footer{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0f0f0f;
}

.footer__container{
    width: 100%;
    max-width: rem(960px);
    margin: 0 auto;
    padding: 0 rem(10px);
    display: flex;

    @include phones {
        flex-direction: column;
        align-items: center;
    }
}

.contact{
    width: 50%;
    text-align: left;
    padding: rem(10px) 0;

    @include phones{
        text-align: center;
        width: 100%;
    }
}

.contact__adres{
    font-weight: 300;
    font-size: rem(14px);
    color: #ffffff; 
}

.icon__phone{
    display: inline-block;
    fill: #e45028;
    width: rem(10px);
    height: rem(10px);
}

.contact__tel{
    display: inline-block;
    font-weight: 700;
    font-size: rem(14px);
    color: #e45028;
}

.social{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include phones{
        display: inline-block;
    }
}

.social__list{
    display: flex;
    justify-content: center;
    margin-right: rem(15px);

    @include phones{
        margin-right: 0;
    }
}

.sosial__link{
    padding: rem(10px) 0 rem(10px) rem(20px);
}

.icon{
    width: rem(20px);
    height: rem(20px);
    fill: #fff;

    use{
        width: rem(20px);
        height: rem(20px);
    }
}