
.maps{
    background-image: url('../img/maps.jpg');
    position: relative;
}

.footer{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0f0f0f;
}

.footer__container{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
}

.contact{
    width: 50%;
    text-align: left;
    padding: 10px 0
}

.contact__adres{
    font-weight: 300;
    font-size: 14px;
    color: #ffffff; 
}

.icon__phone{
    display: inline-block;
    fill: #e45028;
    width: 10px;
    height: 10px;
}

.contact__tel{
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #e45028;
}

.social{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social__list{
    display: flex;
}

.sosial__link{
    padding: 10px 0 10px 20px;
}

.icon{
    width: 20px;
    height: 20px;
    fill: #fff;

    use{
        width: 20px;
        height: 20px;
    }
}