
.menu{
    position: relative;
    background-image: url('../img/section-menu/menu-bgr.jpg'); 
}

.title_menu{
    color: #ffff;
    position: absolute;
    top: rem(100px);
    line-height: 1;
    left: rem(42px);
}

.menu__accordion{
    position: absolute;
    // width: rem(780px);
    height: 100%;
    right: 0;
}

.menu__list{
    width: 100%;
    height: 100%;
    display: flex;
}

.menu__elem{
    display: flex;

    &_activ{
        .menu__info{
            width: rem(540px);

            @include phones {
                width: rem(245px);
            }
        }
    }
}

.menu__link{
    display: block;
    width: rem(80px);
    height: 100%;
    background-position: 80% 0;
    position: relative;
}

.menu__elem-wrap{
    background-color: rgba(20, 20, 20, 0.7);
    width: 100%;
    height: 100%;
    
}

.menu__text{
    font-family: 'gagalin';
    font-size: rem(40px);
    color: #ffffff;
    transform: rotate(-90deg);
    display: inline-block;
    // writing-mode:tb-rl;
    position: absolute;
    top: 41%;
    left: -353%;
    text-align: left;
    width: rem(650px);

    @include phones {
        font-size: rem(35px);
    }
}

.menu__info{
    overflow: hidden;
    width: 0;
    height: 100%;
    background-color: rgba(47, 50, 52, 0.93);
    position: relative;
}

.menu__info-text{
    position: absolute;
    top: rem(60px);
    left: rem(35px);
    right: rem(30px);

    @include phones {
        top: rem(20px);
    }

    p{
        font-weight: 300;
        font-size: rem(14px);
        color: #fff;
        line-height: 1.714;
    }
}
  
  