
.navigate{
    position: fixed;
    top:92px;
    left: 94%;
}

.navigate__elem{
    position: relative;
    margin-bottom: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;

    &_aktiv{
        border: 1px solid #ffff;
    }
    
}

.navigate__link{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 7px;

    &:hover .navigate__wrap{
        background-color: #f8b03b;
    }
}

.navigate__wrap{
    width: 6px;
    height: 6px;
    background-color: #ffff;
    border-radius: 50%;
}