
.navigate{
    position: fixed;
    top:rem(92px);
    left: 94%;
}

.navigate__elem{
    position: relative;
    margin-bottom: rem(5px);
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    
}

.navigate__list .active{
    position: relative;
    margin-bottom: rem(5px);
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid #ffff;
}

.navigate__link{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: rem(7px);

    &:hover .navigate__wrap{
        background-color: #f8b03b;
    }
}


.navigate__wrap{
    width: rem(6px);
    height: rem(6px);
    background-color: #ffff;
    border-radius: 50%;
}