
.order{
    background-image: url('../img/section-order/order-bgr.jpg');
    position: relative;
}

.order__content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.title_order{
    margin-bottom: rem(55px);
    color: #f9b43b;
    text-align: center;
    line-height: 1;

    @include phones {
    width: 50%;
    margin-left: 25%;
    }
}

.form__content{
    width: rem(960px);
    padding: 0 rem(10px);
    margin: 0 auto;
    display: flex;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.form__content-left, .form__content-right{
    width: 50%;
}

.form__wrap{
    display: flex;
    margin-bottom: rem(15px);
}

.form__contact-lable{
    display: block;
    flex: 1;
    margin-right: rem(20px);

    &:last-child{
        margin-right: 0;
    }
}

.form__title{
    font-weight: 300;
    font-size: rem(14px);
    color: #fff;
    margin-bottom: rem(5px);

    @include phones{
        text-align: left;
    }
}

.form__contact-input{
    width: 100%;
    height: rem(35px);
    border-radius: rem(5px);
    border: none;
}

.form__content-right{
    margin-left: rem(20px);

    @include tablets {
        margin-left: 0;
    }

    @include phones {
        text-align: center;
    }
}

.form__comment-textarea{
    width: 100%;
    height: rem(108px);
    resize: none;
    border-radius: rem(5px);
}

.form__pay{
    margin-top: rem(8px);
}

.form__radio-label{
    margin-right: rem(13px);
}

.radio__styles{
    position: relative;
    display: inline-block;
    width: rem(16px);
    height: rem(16px);
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;

    &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        background-color: #e35028;
        border-radius: 50%;
        transition: 0.2s;
    }
}

.form__radio-input{
    vertical-align: middle;
    position: absolute;
    left: rem(-9999px);

    &:checked + .radio__styles:after{
        width: rem(8px);
        height: rem(8px);
    }
}


.radio__title{
    font-weight: 300;
    font-size: rem(14px);
    color: #fff;
    vertical-align: middle;
    margin-left: rem(10px);
}

.form__call{
    margin-top: rem(20px);
}

.call__styles{
    position: relative;
    width: rem(15px);
    height: rem(15px);
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;

    &:after{
        content: "\2714";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #e35028;
        opacity: 0;
    }
}

.form__call-input{
    vertical-align: middle;
    position: absolute;
    left: rem(-9999px);

    &:checked + .call__styles:after{
        opacity: 1;
    }
}

.call__title{
    font-weight: 300;
    font-size: rem(14px);
    color: #fff;
    vertical-align: middle;
    margin-left: rem(8px);
}

.form__btns{
    margin-top: rem(13px);
}

.form__btns-submit{
    padding: rem(13px) rem(16px);
    border-radius: rem(5px);
    background-color: #e45028;
    font-size: rem(13px);
    font-weight: 500;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

    &:focus{
        outline: none;
    }
}

.form__btns-reset{
    padding: rem(13px) rem(18px);
    border-radius: rem(5px);
    background: rgba(0, 0, 0, 0);
    font-size: rem(13px);
    font-weight: 500;
    color: #fff;
    border: none;
    cursor: pointer;

    &:focus{
        outline: none;
    }
}

.success{
    color: green;
}

.error{
    color: red;
}