
.reviews__list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.reviews__elem{
    position: relative;
    width: 25%;
    height: 50%;
    overflow: hidden;
    filter: grayscale(100%);

    &:hover .reviews__content,{
        opacity: 1;
    }
    &:hover .reviews__block-dark{
        opacity: 1;
    }
}

.reviews__img{
    width: 100%;
    height: 100%;
    
}

.reviews__content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 243px;
    z-index: 200;
    opacity: 0;
    transition: 0.3s
}

.reviews__name{
    font-family: 'gagalin';
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 30px;
}

.reviews__text{
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}

.reviews__link{
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    padding: 0 15px;
    line-height: 37px;
    background: #2f3234;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
}

.reviews__block-dark{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, .8);
    opacity: 0;
    transition: opacity 0.3s;
}