.reviews{
    position: relative;
}

.reviews__list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.reviews__elem{
    position: relative;
    width: 25%;
    height: 50%;
    overflow: hidden;
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include tablets {
        width: 50%;
        height: 25%;
    }

    &:hover .reviews__content,{
        visibility: visible;
    }
    &:hover .reviews__block-dark{
        opacity: 1;
    }
}

.reviews__content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75%;
    z-index: 200;
    visibility: hidden;

    @include phones{
        text-align: center;
    }

}

.reviews__name{
    font-family: 'gagalin';
    font-size: rem(14px);
    color: #ffffff;
    margin-bottom: rem(30px);

    @include tablets {
        margin-bottom: rem(10px);
        font-size: rem(13px);
    }

    @include phones{
        font-size: rem(24px);
    }
}

.reviews__text{
    font-weight: 300;
    font-size: rem(14px);
    color: #fff;

    @include tablets {
        font-size: rem(13px);
        line-height: 1.4;
    }

    @include phones {
        display: none;
    }
}

.reviews__link{
    font-weight: 500;
    font-size: rem(13px);
    color: #fff;
    text-transform: uppercase;
    padding: 0 rem(15px);
    line-height: rem(37px);
    background: #2f3234;
    display: inline-block;
    border-radius: rem(5px);
    margin-top: rem(20px);

    @include tablets {
        margin-top: rem(10px);
        font-size: rem(12px);
    }
}

.reviews-overlay{
    position: absolute;
    top: 0;
    left: rem(-9999px);
    right: inherit;
    bottom: 0;
    background: rgba(47, 50, 52, .92);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &_activ{
        left: 0;
        right: 0;
    }
}

.reviews-overlay__block{
    background-color: #fff;
    border-radius: rem(5px);
    width: rem(460px);
    position: relative;
}

.reviews-overlay__close{
    display: block;
    position: absolute;
    right: rem(22px); 
    top: rem(22px);
    color: #ec8468;
    text-transform: uppercase;
    padding: rem(5px) rem(5px);
}

.reviews-overlay__content{
    padding: rem(32px) rem(22px);
}

.reviews-overlay__content-name{
    margin-bottom: rem(22px);
    font-family: 'gagalin';
    font-size: rem(14px);
    color: #2f3234;
}

.reviews-overlay__content-text{
    font-weight: 300;
    font-size: rem(14px);
    color: #2f3234;
    
}

.reviews__block-dark{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, .8);
    opacity: 0;
    transition: opacity 0.3s;
}