
.team{
    background-image: url('../img/section-team/team-bgr.jpg');
    background-position: top center;
    position: relative;
}

.team__block{
    background-color: rgba(47, 50, 52, .93);
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;

    @include tablets{
        left: 0; 
        width: 100%;
    }
}

.team__content{
    margin: rem(100px) 0 0 rem(95px);

    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    @include phones {
        margin-left: 0;
    }
}

.title_color{
    color: #f9b43b;
    line-height: 1;
}

.team__list{
    margin-top: rem(40px);
}

.team__elem{
    margin-bottom: rem(14px);

    &_activ{
       
        .description{
            height: 100%;
        }

        .team__name{
          color: #f9b43b;
        }
        .team__icon{
            background-image: url('../img/section-team/arrow-up.png');
        }
       
    }

    @include tablets {
        text-align: center;
    }
}

// .team__link{
//     &_activ{
//         .team__name{
//           color: #f9b43b;  
//         }
//         .team__icon{
//             background-image: url('../img/section-team/arrow-up.png');
//         }
//         + .description{
//             height: 100%; 
//         }
//     }
// }

.team__icon{
    background-image: url('../img/section-team/arrow-down.png');
    background-repeat: no-repeat;
    width: rem(9px);
    height: rem(7px);
    display: inline-block;

    // &_activ{
    //     background-image: url('../img/section-team/arrow-up.png'); 
    // } 
}

.team__name{
    font-family: 'gagalin';
    font-size: rem(14px);
    color:#ffff;
    cursor: pointer;
    margin-left: rem(10px);

    // &_activ{
    //     color: #f9b43b;
    // }
}

.description{
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: rem(15px);

    // &_activ{
    //     height: 100%;
    // }

    @include tablets {
        flex-direction: column;
        text-align: center;
    }
}

.description__foto{
    background-image: url('../img/section-team/team-foto.jpg');
    background-position: center;
    width: rem(100px);
    height: rem(100px);
    overflow: hidden;
    border-radius: 50%;
    margin-left: rem(22px);

    @include tablets{
        margin-left: 0;
    }
}

.description__text{
    width: rem(215px);
    font-size: rem(14px);
    color: #ffff;
    margin-left: rem(20px);
    margin-top: rem(-10px);

    @include tablets{
        margin-left: 0;
        width: rem(350px);
    }

    p{
        margin-top: 0;

        @include tablets {
            margin-top: rem(25px);
        }
    }
}